```{=html}
<div class="listelement">
    <% for (const listitem of items) { %>
    <div class="listitem-entry">
        <div class="logo">
            <% if (listitem.url) { %>
            <a href="<%= listitem.url %>" target="_blank"><img src="<%= listitem.logo %>" alt="<%= listitem.title %>" title="<%= listitem.title %>" /></a>
            <% } else { %>
            <img src="<%= listitem.logo %>" alt="<%= listitem.title %>" title="<%= listitem.title %>" />
            <% } %>
        </div>
        <div class="body">
            <p class="listitem-title">
                <% if (listitem.url) { %>
                <a href="<%= listitem.url %>" target="_blank"><%= listitem.title %></a> 
                <% } else { %>
                <%= listitem.title %> 
                <% } %>
            </p>
            <p class="listitem-details">
                <span class="listitem-chipone"><%= listitem.chipone %></span> | 
                <span class="listitem-chiptwo"><%= listitem.chiptwo %></span>
                <% if (listitem.role) { %>
                | <span class="listitem-role"><%= listitem.role %></span>
                <% } %>
            </p>
            <p class="listitem-description"><%= listitem.description %></p>

            <ul class="listitem-bulletss">
                <% for (const bullets of listitem.bullets) { %>
                <% if (bullets.url) { %>
                <li><a href="<%= bullets.url %>"><i class="fa-solid fa-building-columns"></i> <%= bullets.name %></a></li>
                <% } else { %> 
                <li class="no-link"><i class="fa-solid fa-building-columns"></i> <%= bullets.name %></li>
                <% } %>
                <% } %>
            </ul>
        </div>
    </div>
    <% } %>
</div>
```